@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,500;1,200;1,500&family=Roboto:wght@100;300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;
}

/* Özel stil için dot'ları seçiyoruz */
.slick-dots li button:before {
  color: green; /* Dot'ların rengini belirleyebilirsiniz */
  opacity: 0; /* Dot'ların opaklığını düzenleyebilirsiniz */
}

/* Aktif dot için ayrıca stil uyguluyoruz */
.slick-dots li.slick-active button:before {
  color: #fff; /* Aktif dot rengini belirleyebilirsiniz */
  opacity: 0; /* Aktif dot'ın opaklığını düzenleyebilirsiniz */
}

.paginate {
  display: flex;
  align-items: center;
  justify-content: end;
}
.paginate li {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(159, 159, 159);
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.paginate .active {
  background-color: #007bff;
  color: #fff;
}
